*.png
*.jpg
*.csv
*.txt
*.svg
*.json
*.ttf
*.pkl
*.pth
*.zip
*.ipynb

__pycache__/
templates/
mnist/
cifar10/
other/
sklearn/
.ipynb_checkpoints/

test.db
sina.html
hello.html

mnist_test.py
google_net.py
pil_test.py
poetry.py